<div class="jumbotron">
  <center><h1>Shopping helper</h1>
  <p>Welcome to my side</p>
  <p>
  <%=link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg "%>
  <%=link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg btn btn-success"%>

  </p></center>
</div>

<div class="footer navbar-default navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text">Developer: 
		<a href="mailto:marcin.choromanski.dev@gmail.com?" target="_top">Marcin Choromański</a>
		</p>
	</div>
</div>